@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-navy-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-navy-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-navy-800;
}